@import 'reset.css';
@import 'config/variables.css';
@import 'base/base.css';
@import 'theme/theme.css';
@import 'layout/layout.css';
@import 'components/header.css';
@import 'components/home.css';
@import 'components/button.css';
@import 'components/giving.css';
@import 'components/celebrate.css';
@import 'components/gift.css';
@import 'components/new.css';
@import 'components/message.css';
@import 'components/footer.css';
@import 'components/breakpoints.css';
@import 'components/scroll.css';





.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity as needed */
    z-index: 9999; /* Ensure the overlay is on top */
    display: none; /* Initially hidden */
  }